<mat-card>
  <h1>Add Your Todo</h1>
<form [formGroup]="userTodos">
    <mat-form-field appearance="outline">
        <mat-label>TodoTitle:</mat-label>
        <input matInput placeholder="FirstName" type="text" formControlName="todoTitle">
        <div *ngIf="todoTitle?.invalid &&(todoTitle?.dirty||todoTitle?.touched)">
            <div *ngIf="todoTitle?.errors?.['required']" class="asset1" >Title is required</div>
            <div *ngIf="todoTitle?.errors?.['minlength']" class="asset1">Title should have atleast '3'characters</div>
            <div *ngIf="todoTitle?.errors?.['maxlength']" class="asset1">Title should have maximum of '20' characters</div>
        </div>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>TodoDescription :</mat-label>
        <textarea  matInput placeholder="LastName" type="text" formControlName="todoDescription">
          </textarea> 
        <div *ngIf="todoDescription?.invalid &&(todoDescription?.dirty||todoDescription?.touched)">
            <div *ngIf="todoDescription?.errors?.['required']" class="asset1" >Description is required</div>
            <div *ngIf="todoDescription?.errors?.['minlength']" class="asset1">Description should have atleast '4' characters</div>
        </div>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Categories</mat-label>
        <mat-select formControlName="category">
          <mat-option value="Food">Food</mat-option>
          <mat-option value="Groceries" >Groceries</mat-option>
          <mat-option value="Travel">Travel</mat-option>
          <mat-option value="General">General</mat-option>
          <mat-option value="Shopping">Shopping</mat-option>
        </mat-select>
        <div *ngIf="category?.invalid &&(category?.dirty||category?.touched)">
          <div *ngIf="category?.errors?.['required']" class="asset1" >Category is required</div>
      </div>
      </mat-form-field><p></p>
      <mat-form-field style="width: 165px;" appearance="outline">
        <mat-label>Due Date</mat-label>
        <input type="date" matInput placeholder="dueDate" formControlName="dueDate">
        <div *ngIf="dueDate?.touched">
          <div *ngIf="dueDate?.errors?.dueDateCheck1==false" class="asset1">
            Date is Required
        </div>
        <div *ngIf="dueDate?.errors?.dueDateCheck2==false" class="asset1">
          Date Should Not be below Today's Date
      </div>
      </div>
      </mat-form-field>
      <mat-form-field style="width: 165px;" appearance="outline">
        <mat-label>Priority</mat-label>
        <mat-select formControlName="priority">
          <mat-option value="High">High</mat-option>
          <mat-option value="Medium" >Medium</mat-option>
          <mat-option value="Low">Low</mat-option>
        </mat-select>
        <div *ngIf="priority?.invalid &&(priority?.dirty||priority?.touched)">
          <div *ngIf="priority?.errors?.['required']" class="asset1" >Priority is required</div>
      </div>
      </mat-form-field>
    
    <button mat-raised-button type="reset" [disabled]="!userTodos.valid" (click)="submit()">
       Add
      </button>
</form>
</mat-card>
